despatchbay>=1.0.0
fuzzywuzzy>=0.18.0
pydantic>=2.0.0
PySimpleGUI>=4.0.0
python-dotenv>=1.0.0
pywin32>=306
Requests>=2.31.0
-e git+https://github.com/prosody-speaks/commence_py.git@master#egg=commence_py
-e git+https://github.com/prosody-speaks/office_tools.git@master#egg=office_tools


